.page-content {
  padding: 30px;
}

.page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.page-heading h1 {
  color: #222;
}

.page-heading p {
  color: #888;
  margin-top: 5px;
}

.green-btn {
  background: #247a4d;
  color: white;
  border: 0;
  padding: 11px 16px;
  border-radius: 7px;
  cursor: pointer;
}

.filter-box {
  background: white;
  padding: 15px;
  border-radius: 9px;
  margin-bottom: 18px;
}

.filter-box input {
  width: 100%;
  padding: 11px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.table-box {
  background: white;
  border-radius: 9px;
  overflow-x: auto;
  border: 1px solid #eee;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

th {
  background: #f8faf9;
  color: #555;
}

td {
  color: #666;
}

.active-text {
  color: #269653;
}

.empty {
  padding: 25px;
  text-align: center;
  color: #888;
}